header {
    font-size: 50px;
    text-align: center;

}

p {
    text-align: center;
}

#time {
    
    font-size: 50px;
    width: 200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

#time:hover {
    background-color: lightcyan;
}   