header {
    text-align: center;
    border: 1px solid black;
    width: 50rem;
    margin: auto;
    border-radius: 20px;
}

.entertask {
    border: 1px solid blue;
    width: 50rem;
    margin: auto;


}

body {
    text-align: center;
}

#list {
    display: grid;
    grid-template-columns: 3fr .05fr;
   
  }

p {
    border: 1px dotted black;
    height: 60px;
  }

button {
    border: 1px dotted black;
    height: 20px;
}
