#calculator {
    display: center;
}

#numbers {
    display: grid;
    grid-template-columns: 75px 75px 75px;
    grid-template-rows: 75px 75px 75px; 
    column-gap: 10px;
    row-gap: 10px;
}

button:hover {
    background-color: yellow;
    font-weight: bold;

}

#demo {
    background-color: black;
    color: yellow;
    font-size: 100px;
    width: 245px;
    text-align: center;
    border-radius: 12px;
    margin: 20px;
}