body {
    background-image: url(https://www.wellesley.edu/sites/default/files/styles/news_refresh_hero/public/assets/dailyshot/ds_461390782.jpg?itok=jr0Buv1t);
}

header {
    text-align: center;
    color: white;
    background-color: red;
    align-items: center;
}

#calculator {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: gray;
    border-radius: 12px;
    width: 400px;
    margin: auto
}


#numbers {
    display: grid;
    grid-template-columns: 75px 75px 75px;
    grid-template-rows: 75px 75px 75px; 
    column-gap: 10px;
    row-gap: 10px;
    
}

button {
    border-radius: 12px;
}

button:hover {
    background-color: yellow;
    font-weight: bold;

}

#demo {
    background-color: black;
    color: yellow;
    font-size: 75px;
    width: 245px;
    text-align: center;
    border-radius: 12px;
    margin: 20px;
    
}