

.App {
  text-align: center;

}

.display {
  background-color: lightgray
}

button:hover {
  color: red;
  background-color: darkgray;
}

button {
  grid-template-columns: 50px 50px 50px;
  background-color: orange;
}


h1 {
  width: 75%;
  float: left;
}