

.App {
  text-align: center;

}

.display {
  background-color: lightgray
}

button:hover {
  color: red;
  background-color: darkgray;
}

button {
  grid-template-columns: 1fr 1fr 3fr;
  background-color: blue;
}


h1 {
  width: 75%;
  float: left;
}