* {
  box-sizing: border-box;
}

.App {
  text-align: center;

}

.display {
  background-color: lightgray
}

button:hover {
  color: red;
  background-color: darkgray;
}

button {
  width: 25%;
  float: left;
  background-color: orange;
}

.calculator {
  display: flex;
}

h1 {
  width: 75%;
  float: left;
}